---
layout: default 
---

{% include nav.html %}

<div class="container-contact-us">
  <div class="contact-us-header-wrapper">
    <div class="bg-wrapper">
        {% for background in site.data.contact-us %}
            <div class="{{background.class}}"><img src="../{{background.image}}" /></div>
        {% endfor %}
    </div>
    <h1 class="header">Contact Us</h1>
  </div>
  <div class="vacancies-wrapper">
    <h1 class="header">Vacancies</h1>
    <div class="scroller">
      <div class="vacancy-content-wrapper">
      {% for vacancy in site.data.vacancies %}
        <div class="content-box">
            <div class="content-box-text">
            <h1>{{ vacancy.position }}</h1>
            <div class="image-box">
              <img src="../{{ vacancy.image }}" alt="{{ vacancy.position }}">
            </div>
            <p>Description:</p>
            <p>{{ vacancy.description }}</p>
            <p>Requirements:</p>
            <p>{{ vacancy.requirements }}</p>
          </div>
          <div class="overlay"></div>

        </div>
      {% endfor %}
          
      </div>

    </div>
    
  </div>
  <div class="address-links-map">
    <div class="address-and-links">
      <div class="links-holder">
          <h1>Useful Links</h1>
        <div class="links-wrapper">
          <a href="{{ site.googlescholar_path}}" target="_blank" class="external-link-wrapper"><div class="external-link-icons external-link-icon-googlescholar">
            <svg class="scholar-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="Layer_1">
              <path fill="var(--scholar-blue)" d="M256 411.12L0 202.667 256 0z"/>
              <path fill="var(--scholar-dark-blue)" d="M256 411.12l256-208.453L256 0z"/>
              <circle fill="var(--scholar-light-blue)" cx="256" cy="362.667" r="149.333"/>
              <path fill="var(--scholar-mid-blue)" d="M121.037 298.667c23.968-50.453 75.392-85.334 134.963-85.334s110.995 34.881 134.963 85.334H121.037z"/>
            </svg>
          </div><p>Google Scholar</p></a>
          <a href="mailto:{{ site.email }}" target="_blank" class="external-link-wrapper"><div class="external-link-icons external-link-icon-email">
            <svg class="gmail-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 192" id="Layer_2" preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0, 16)">
                <path fill="var(--gmail-shade-1)" d="M58 108h14V74L52 59v43c0 3.32 2.69 6 6 6"/>
                <path fill="var(--gmail-shade-2)" d="M120 108h14c3.32 0 6-2.69 6-6V59l-20 15"/>
                <path fill="var(--gmail-shade-3)" d="M120 48v26l20-15v-8c0-7.42-8.47-11.65-14.4-7.2"/>
                <path fill="var(--gmail-shade-4)" d="M72 74V48l24 18 24-18v26L96 92"/>
                <path fill="var(--gmail-shade-5)" d="M52 51v8l20 15V48l-5.6-4.2c-5.94-4.45-14.4-.22-14.4 7.2"/>
              </g>
            </svg>

          </div><p>Email</p></a>
          <a href="{{ site.youtube_path}}" target="_blank" class="external-link-wrapper"><div class="external-link-icons external-link-icon-youtube">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_3" width="71.412064" height="50" x="0" y="0" version="1.1" viewBox="0 0 71.412065 50">
              <g id="g5" transform="scale(.58824)">
                <path id="path7" fill="var(--youtube-shade-1)" fill-opacity="1" d="M118.9 13.3c-1.4-5.2-5.5-9.3-10.7-10.7C98.7 0 60.7 0 60.7 0s-38 0-47.5 2.5C8.1 3.9 3.9 8.1 2.5 13.3 0 22.8 0 42.5 0 42.5s0 19.8 2.5 29.2C3.9 76.9 8 81 13.2 82.4 22.8 85 60.7 85 60.7 85s38 0 47.5-2.5c5.2-1.4 9.3-5.5 10.7-10.7 2.5-9.5 2.5-29.2 2.5-29.2s.1-19.8-2.5-29.3z"/>
                <path id="polygon9" fill="var(--youtube-shade-2)" d="M80.2 42.5 48.6 24.3v36.4z"/>
              </g>
            </svg>
          </div><p>Youtube</p></a>
        </div>
      </div>
      <div class="address">
        <h1>Address:</h1>
        <p>School of Digital Science
        <p>2nd Floor of Academy of Brunei Studies Building, Universiti Brunei Darussalam, Jalan Tungku Link, BE1410</p>
        <p>Negara Brunei Darussalam</p>
      </div>
    </div>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.777558990494!2d114.8911051750401!3d4.97659739499964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x322259312506ac15%3A0x98d5f53425f7c06d!2sSchool%20of%20Digital%20Science%2C%20UBD!5e0!3m2!1sru!2skz!4v1755342008717!5m2!1sru!2skz"
        style="border:0; width: 100%; height: 100%;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  
    
  </div>
  <div class="form-holder" id="jobForm">
    <div class="form">
      <form id="contact-form" method="post" name="contact-form">
        <h1>Contact Us</h1>
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="text" name="title" placeholder="Your Title" required />
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit" id="submit">Send</button>
      </form>
    </div>
  </div>

  <div id="custom-alert" class="hidden">
    <p>Thank you!</p>
  </div>
  
</div>

<script>
  document.getElementById("contact-form").addEventListener("submit", function (e) {
    e.preventDefault();

    const name = e.target.name.value;
    const title = e.target.title.value;
    const message = e.target.message.value;

    const subject = `${title} | ${name}`;
    const body = encodeURIComponent(`${message}`);

    // Trigger mailto
    window.location.href = `mailto:ajaz.bhat@ubd.edu.bn?subject=${encodeURIComponent(subject)}&body=${body}`;

    // Show alert
    const alertBox = document.getElementById("custom-alert");
    alertBox.classList.remove("hidden");
    alertBox.classList.add("show");

    // Optionally reset form
    e.target.reset();

    // Hide alert after 3 seconds
    setTimeout(() => {
      alertBox.classList.remove("show");
      alertBox.classList.add("hidden");
    }, 3000);
  });
</script>
{% include footer.html %}

