---
layout: default 
---

{% include nav.html %}
<!-- first container -->
<div class="container-1">
    <div class="slider">
        
        {% for project in site.data.projects %}
        <div id="{{ project.id }}" class="slide">
            <img src="{{ project.image }}" alt="{{ project.title }}">
            <div class="slide-text">
                <h1><a href="{{project.origin}}">{{ project.title }}</a></h1>
                <p>{{ project.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div>
         <button class="arrow left-arrow">&#10094;</button> <!-- Left arrow -->
         <button class="arrow right-arrow">&#10095;</button> <!-- Right arrow -->
    </div>

    <div>
        <a  href="#container-news"class="int-arrows-body">
            <div class="int-arrow"></div>
            <div class="int-arrow"></div>
        </a>
    </div>
    
    
</div>



<script>
  const slider = document.querySelector('.slider');
  const slides = document.querySelectorAll('.slide');
  const leftArrow = document.querySelector('.left-arrow');
  const rightArrow = document.querySelector('.right-arrow');
  let index = 0;
  let interval;

  function goToSlide(i) {
    index = (i + slides.length) % slides.length; // wrap around
    slider.scrollTo({
      left: slides[index].offsetLeft,
      behavior: 'smooth'
    });
    resetInterval();
  }

  function resetInterval() {
    clearInterval(interval);
    interval = setInterval(() => {
      index = (index + 1) % slides.length;
      slider.scrollTo({
        left: slides[index].offsetLeft,
        behavior: 'smooth'
      });
    }, 5000);
  }

  leftArrow.addEventListener('click', () => goToSlide(index - 1));
  rightArrow.addEventListener('click', () => goToSlide(index + 1));
  // Start the interval
  resetInterval();
</script>

<div id="container-news" class="container-news">
  <div class="header-wrapper">
    <h1 class="header">News</h1>
  </div>
  <div class="scroller-news">
    <div class="news-content-wrapper" >
    {% for post in site.data.news %}
      <div class="news-wrapper" data-href=" {{ post.link }} ">
        <div class="text-wrapper">
          <div class="date">
            <p> {{ post.date }} </p>       
            <hr>
          </div>
          <p> {{ post.description }} </p>
        </div>
      </div>
    {% endfor %}
  </div>
  
  </div>
  <div>
    <a  href="#container-3"class="int-arrows-body">
        <div class="int-arrow"></div>
        <div class="int-arrow"></div>
    </a>
  </div>
</div>

<script>

document.querySelectorAll('.news-wrapper').forEach(el => {
  el.addEventListener('click', () => {
    const url = el.dataset.href;
    if (url) window.location.href = url;
  });
});

</script>
<!-- second container -->
<div id="container-3" class="container-3">
  <h1 class="header">Publications</h1>
<div class="scroller">
  <div class="publications-content-wrapper">
  {% for publication in site.data.publications %}
    <div class="content-box">
      <div class="content-box-text">
        <h1>{{ publication.title }}</h1>
        <div class="image-box">
          <img src="{{ publication.image }}" alt="{{ publication.title }}">
        </div>

        <p>{{ publication.abstract }}</p>
      </div>
    
      <div class="read-more">
        <a href="{{publication.origin}}">Read more →</a>
      </div>
      <div class="overlay"></div>

    </div>
  
       
  {% endfor %}
  </div>
</div>
</div>

<script>
  const scrollers = document.querySelectorAll(".scroller");

// If a user hasn't opted in for recuded motion, then we add the animation
if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
  addAnimation();
}

function addAnimation() {
  scrollers.forEach((scroller) => {
    // add data-animated="true" to every `.scroller` on the page
    scroller.setAttribute("data-animated", true);

    // Make an array from the elements within `.publications-content-wrapper`
    const scrollerInner = scroller.querySelector(".publications-content-wrapper");
    const scrollerContent = Array.from(scrollerInner.children);

    // For each item in the array, clone it
    // add aria-hidden to it
    // add it into the `.publications-content-wrapper`
    scrollerContent.forEach((item) => {
      const duplicatedItem = item.cloneNode(true);
      duplicatedItem.setAttribute("aria-hidden", true);
      scrollerInner.appendChild(duplicatedItem);
    });
  });
}
</script>
{% include footer.html %}


