---
layout: default 
---

{% include nav.html %}
<!-- first container -->
<div class="container-news-original">
  <div class="header-wrapper">
    <h1 class="header">News</h1>
    <hr style="margin: 1rem 0;">
  </div>
  <div class="news-content-wrapper" >
    {% for post in site.data.news %}
      <div class="post" >
        <div class="post-wrapper" >
          <div class="text-wrapper">
            <div class="number-and-url">
            <h1>{{post.number}}</h1>
            <a href="{{post.link}}">URL</a>
            
            </div>
            <div class="information">
              <h1>{{post.title}}</h1>
              <p>{{post.authors}}</p>
              <p class="journal">{{post.source}}</p>
            </div>
          </div>
          <div class="image-box">
            <img src="{{post.image}}" />
          </div>

          
        </div>
        <hr style="margin: 1rem 0;">
      </div>
    {% endfor %}
  </div>     
</div>

 
{% include footer.html %}


