.container-news-original
  position: relative
  padding: 5vh
  background: $secondary
  overflow: hidden
  @media screen and (max-width: 600px)
      padding: 5vh 0 0 0
  .header-wrapper
    width: 30vw
    display: flex
    flex-direction: column
    margin: 0 auto
    hr
      border: none // removes default border
      height: 1px // sets thickness
      background-color: $background // uses your theme color
      margin: 2px 0 // adds spacing above and below
      width: 100% // ensures it stretches across the container
    .header
      margin-top: 18vh
      color: $primary
      text-align: center
      @media screen and (max-width: 600px)
      margin-top: 12vh
  .news-content-wrapper
    flex-wrap: wrap
    display: flex
    flex-direction: column 
    hr
      border: none // removes default border
      height: 1px // sets thickness
      background-color: $background // uses your theme color
      margin: 2px 0 // adds spacing above and below
      width: 100% // ensures it stretches across the container

    .post-wrapper
      background: $secondary
      width: 100%
      height: 20vh
      box-shadow: 0 4px 12px rgba($primary, 0.2)
      display: flex
      overflow: hidden
      will-change: transform
      transition: transform 0.3s ease
      &:hover
        transform: scale(1.05) 
        
      .text-wrapper
        position: relative
        padding: 2vw
        flex: 0 0 80%   
        height: 100%
        display: flex
        flex-direction: row
        
        .number-and-url
          position: relative
          width: 25%
          display: flex
          flex-direction: column
          @media screen and (max-width: 600px)
            width: 20%
          h1
            font-size: clamp(1.25rem, 3vw, 1.75rem)
            color: $primary
          a
            font-size: clamp(0.75rem, 2vw, 1rem)
            color: $highliting
            font-weight: 500
            text-decoration: none
            transform-origin: center
            will-change: transform
            transition: transform 0.3s ease
            &:hover
              transform: scale(1.1)
          .tag-wrapper
            padding-bottom: 2vh
            position: absolute
            display: flex
            flex-direction: row
            flex-wrap: wrap
            bottom: 0
            .tag
              p
                display: inline-block
                padding: 0.3vh 0.7vw
                border: 1px solid adjust-color($primary, $lightness: -40%)
                border-radius: clamp(2px, 2vh, 6px)
                color: $primary
                font-size: clamp(0.5rem, 2vw, 0.85rem)
                white-space: nowrap
                margin: 0
        .information
          position: relative
          flex: 0 0 75%
          height: 100%
          display: flex
          flex-direction: column
          padding-bottom: 10vh
          @media screen and (max-width: 600px)
            width: 60%
          h1
            font-size: clamp(1.25rem, 3vw, 1.75rem)
            color: $primary
          p
            font-size: clamp(0.75rem, 2vw, 1rem)
            color: lighten($primary, 40%)
            line-height: 1.2em
          p.journal
            position: absolute
            bottom: 0
      .image-box
        img
          object-fit: cover
          aspect-ratio: 16/9  
          flex: 0 0 20%      
          height: 100%    