---
layout: default
---
{% include nav.html %}


<div class="team-page">
  <h1 class="header">Ajaz Ahmad Bhat's Profile</h1>
  <hr>
  <img src="../../assets/img/team/person1.jpg" alt="Ajaz Ahmad Bhat">
  <p><strong>Google Scholar:</strong> <a href="{{ site.googlescholar_path}}">URL</a></p>
  <p><strong>Gmail:</strong> <a href="mailto:{{ site.email }}">Contact</a></p>
  <p><strong>Youtube:</strong> <a href="{{ site.youtube_path}}">URL</a></p>
  <h1>Research Interests:</h1> 
  <hr>
    <p>AI robots for goal-directed motor control, creative reasoning, causal learning. </p> 
    <p>Cognition-inspired intelligent systems and cognitive child development.</p>
    <p>Memory and attention-guided neural networks and interpretable AI. </p>
    <p>Knowledge graphs, multi-agent systems and persuasive machine learning. </p>
  <h1>Education:</h1> 
  <hr>
    <h2>PhD in Cognitive Robotics & AI</h2>
    <p><strong>Institution:</strong> IIT, University of Genoa, Italy</p>
    <p><strong>Duration:</strong> Jan 2013 - Dec 2015</p>
    <p><strong>Advisors:</strong> Vishwanathan Mohan & Pietro Morasso</p>
    <p><strong>Thesis:</strong> Towards a Brain-like MΞMϽRY for Cognitive Robots</p>

    <h2>Masters in Computer Applications</h2>
    <p><strong>Institution:</strong> University of Kashmir, India</p>
    <p><strong>Duration:</strong> Mar 2007 - Jun 2010</p>
    <p><strong>Advisor:</strong> Rana Hashmy</p>
    <p><strong>Thesis:</strong> Character Recognition in Neural Networks: A Mixed-Methods Approach</p>

    <h2>Bachelors in Physical Sciences</h2>
    <p><strong>Institution:</strong> University of Kashmir, India</p>
    <p><strong>Duration:</strong> Mar 2004 - Feb 2007</p>

    <h1>Work Experience:</h1>
    <hr>

    <h2>Assistant Professor</h2>
    <p><strong>Institution:</strong> School of Digital Science, Universiti Brunei Darussalam, Brunei</p>
    <p><strong>Duration:</strong> Jan 2021 - Present</p>
    <p><strong>Role:</strong> Research and grant writing on cognitive robotics, control and AI for agriculture, social services, and industry. Design and teaching of masters and bachelors’ courses. Doctoral, master’s & bachelors thesis supervision and administrative charges.</p>
    <p><strong>Additional Leadership:</strong> Programme Leader for AI and Robotics, Applied AI, and Data Science programmes. Program design, execution, teaching, and research leadership.</p>

    <h2>Adjunct Professor</h2>
    <p><strong>Institution:</strong> Faculty of Psychology, Open University Cyprus, Cyprus</p>
    <p><strong>Duration:</strong> Aug 2023 - Jan 2024</p>
    <p><strong>Role:</strong> Design and teaching of master's course on Cognitive Agents and Reasoning. Thesis supervision.</p>

    <h2>Assistant Professor</h2>
    <p><strong>Institution:</strong> Technology & Data-Analytics Group, University of Twente, Netherlands</p>
    <p><strong>Duration:</strong> Nov 2020 - Jan 2021</p>
    <p><strong>Role:</strong> Research on intelligent control of learning systems for perception, action, and behaviour planning. Design and teaching of masters and bachelors courses.</p>

    <h2>Staff Scientist</h2>
    <p><strong>Institution:</strong> Okinawa Institute of Science and Technology (OIST), Japan</p>
    <p><strong>Duration:</strong> Aug 2020 - Nov 2021</p>
    <p><strong>Role:</strong> Research on development of embodied cognition on neurorobotics platforms exploring compositionality in perception, action, and imagination.</p>

    <h2>Senior Research Associate</h2>
    <p><strong>Institution:</strong> School of Psychology, University of East Anglia, UK</p>
    <p><strong>Duration:</strong> Nov 2016 - Aug 2020</p>
    <p><strong>Role:</strong> Lead researcher on NIH project investigating grounded language learning using dynamical neural networks modelling and empirical analysis of eye-movements, object representations and attentional mechanisms. Bachelors’ thesis supervision.</p>

    <h2>Research Fellow</h2>
    <p><strong>Institution:</strong> RBCS, Italian Institute of Technology, Italy</p>
    <p><strong>Duration:</strong> Jan 2016 - Jun 2016</p>
    <p><strong>Role:</strong> Researcher in EU-FP7 project employing dynamical neural models to enable action control, action imagination and perspective-taking in robots, enabling robot-robot and human-robot collaborations in service and manufacturing industry.</p>

    <h2>Junior Research Fellow</h2>
    <p><strong>Institution:</strong> S N Bose National Centre of Basic Sciences, India</p>
    <p><strong>Duration:</strong> Aug 2010 - Jul 2012</p>
    <p><strong>Role:</strong> Researcher on a DST national project for designing game-theoretic models of competitive learning and emergent behaviours in dynamically interacting motor and social systems.</p>

    <h1>Industrial Experience:</h1>
    <hr>
    <h2>Visiting Graduate Student Researcher</h2>
    <p><strong>Institution:</strong> Profactor GmbH, Austria</p>
    <p><strong>Duration:</strong> 2013 - 2015</p>
    <p><strong>Role:</strong> Lead researcher for development and testing of AI technologies on Staubli robots under the EU-FP7 project DARWIN for assembly line manufacturing.</p>

    <h1>Grants, Achievements & Impact:</h1>
    <hr>
    <h2>Leverhulme UK Funded Grant</h2>
    <p><strong>Title:</strong> Process Theory of Vocabulary Variability</p>
    <p><strong>Duration:</strong> 2025-2029</p>
    <p><strong>Total Funding:</strong> £450,000</p>
    <p><strong>Role:</strong> Co-PI (International)</p>

    <h2>iUNRC PRC Funded Grant</h2>
    <p><strong>Title:</strong> A Dynamical Systems Reengineering of the Role of Attention and Memory in Autism Spectrum Disorder</p>
    <p><strong>Duration:</strong> 2025-2027</p>
    <p><strong>Total Funding:</strong> Yuan 420,000</p>
    <p><strong>Role:</strong> Principal Investigator</p>

    <h2>UBD FRC Grant</h2>
    <p><strong>Title:</strong> Whole-Body Task-Driven Synergetic Motor Planning and Control of Stretch Robot</p>
    <p><strong>Duration:</strong> 2025-2026</p>
    <p><strong>Total Funding:</strong> BND $20,200</p>
    <p><strong>Role:</strong> Principal Investigator</p>

    <h2>UBD URG Grant</h2>
    <p><strong>Title:</strong> Enhancing Research and Innovation Capacity through HPC Implementation at Universiti Brunei Darussalam</p>
    <p><strong>Duration:</strong> 2025-2026</p>
    <p><strong>Total Funding:</strong> BND $160,000</p>
    <p><strong>Role:</strong> Member</p>

    <h2>NIH, US Funded Grant</h2>
    <p><strong>Title:</strong> The Dynamics of Visual Attention and Word Learning</p>
    <p><strong>Duration:</strong> 2016-2022</p>
    <p><strong>Total Funding:</strong> £996,614.00</p>
    <p><strong>Role:</strong> Postdoctoral Researcher</p>

    <h2>Recognition & Media</h2>
    <p><strong>2020:</strong> Special Recognition Award from University of East Anglia, UK for Pe’nd Online community engagement project in Kashmir</p>
    <p><strong>2020:</strong> Work on causal learning in humanoid robots featured by BBC in “Science in Action” Programme</p>

    <h2>Publications & Features</h2>
    <p><strong>2016:</strong> Article on Aesop’s Fable featured as cover page of Journal of Royal Society Interface</p>
    <p><strong>2012:</strong> Article featured in Kaleidoscope section of Physical Review E-Journal (Jan 2012 issue)</p>

    <h2>Fellowships</h2>
    <p><strong>2016:</strong> Thesis Completion Fellowship, IIT Genova, Italy</p>
    <p><strong>2013-2015:</strong> Doctoral Fellowship, University of Genova, Italy</p>
    <p><strong>2013-2015:</strong> EU FP7 Grant “DARWIN” - Member (£300,000)</p>
    <p><strong>2012:</strong> Research Fellowship & Lecturer-ship Eligibility Award, University Grants Commission, India</p>
    <p><strong>2012:</strong> Senior Research Fellowship, Department of Science and Technology, SNBNCBS, India</p>
    <p><strong>2010-2012:</strong> Junior Research Fellowship, Department of Science and Technology, SNBNCBS, India</p>

    <h2>Awards</h2>
    <p><strong>2012:</strong> 3rd Best Talk of the Festival Award, Bose Fest 2012, SNBNCBS Kolkata, India</p>

    <h1>Teaching & Mentoring:</h1>
    <hr>
    <h2>Teaching</h2>
    <p><strong>Institutions:</strong> University of Twente, Netherlands; Universiti Brunei Darussalam, Brunei</p>
    <p><strong>Courses:</strong> Robotics Control, Cognitive Robotics, AI in Robotics, Algorithms & Data Structures, Software Engineering (Bachelor and Masters level)</p>
    <p><strong>Role:</strong> Course Design, Teaching, and Evaluation</p>

    <h2>Mentoring</h2>
    <p><strong>Institutions:</strong> Universiti Brunei Darussalam, Brunei; University of East Anglia, UK</p>
    <p><strong>Student Supervision:</strong> 2 PhDs, 4 Research Masters, 12 Bachelor project students, and over 20 interns and mentees</p>

    <h1>Professional Services:</h1>
    <hr>
    <h2>Founding Member</h2>
    <p><strong>Organization:</strong> Pe’nd Online</p>
    <p><strong>Duration:</strong> 2020 - Present</p>
    <p><strong>Description:</strong> A digital networking platform for Kashmiris</p>

    <h2>Memberships</h2>
    <ul>
    <li><strong>2018 - Present:</strong> Member, The Cognitive Science Society</li>
    <li><strong>2018 - Present:</strong> Member, IEEE RAS Technical Committee for Cognitive Robotics</li>
    </ul>

    <h2>Organizing Roles</h2>
    <ul>
    <li><strong>2018:</strong> Organizer, Pint of Science Festival (Norwich) - Public dissemination of scientific research</li>
    <li><strong>2018:</strong> Workshop Organizer, CogSci 2018 - “On Dynamical Field Theory”</li>
    </ul>

    <h2>Reviewer</h2>
    <p><strong>Duration:</strong> 2014 - Present</p>
    <p><strong>Reviewed for:</strong></p>
    <ul>
    <li>Neural Networks</li>
    <li>ICRA</li>
    <li>ICLR</li>
    <li>IEEE TCDS</li>
    <li>IEEE TASE</li>
    <li>PLOS Computational Biology</li>
    <li>Cognitive Science</li>
    <li>CogSci</li>
    <li>ICDL-EPIROB</li>
    <li>Living Machines</li>
    <li>...and more</li>
    </ul>

    <h1>List of Publications:</h1>
    <hr>
    <h2>2025</h2>
    <ul>
    <li>Gul H. Naim A.G., & Bhat, A. A. MuCoS: Efficient Drug-Target Discovery via Multi-Context-Aware Sampling in Knowledge Graphs. BioNLP Workshop, ACL 2025, Vienna.</li>
    <li>Gul H. Naim A.G., & Bhat, A. A. Evaluating Cumulative Spectral Gradient as a Complexity Measure. MuslML Workshop, ICML 2025, Vancouver.</li>
    <li>Gul H. Naim A.G., & Bhat, A. A. MuCo-KGC: Multi-Context-Aware Knowledge Graph Completion. PAKDD 2025.</li>
    </ul>

    <h2>2024</h2>
    <ul>
    <li>Gul H., & Bhat, A. A. A Contextualized BERT Model for Knowledge Graph Completion. MuslML Workshop, NeurIPS 2024, Vancouver.</li>
    <li>Bhat, A. A., Spencer, J. P., & Samuelson, L. K. Similarity in Object Properties Supports Cross-Situational Word Learning. CogSci 2024, Rotterdam.</li>
    </ul>

    <h2>2023</h2>
    <ul>
    <li>Bhat A. A., Spencer J. P., Samuelson L. K. Formal Theories Clarify the Complex. Child Development. DOI: 10.1111/cdev.14023</li>
    </ul>

    <h2>2022</h2>
    <ul>
    <li>Bhat A. A., Spencer J. P., Samuelson L. K. WOLVES: A Neural Process Account of Cross-Situational Word Learning. Psychological Review. DOI: 10.1037/rev0000313</li>
    </ul>

    <h2>2020</h2>
    <ul>
    <li>Bhat A. A., Mohan V. Causal Learning by a Robot with Semantic-Episodic Memory. ICLR, Addis Ababa. <a href="https://arxiv.org/abs/2003.00274">arXiv</a></li>
    <li>Bhat, A. A., Spencer, J. P., & Samuelson, L. K. Metric Variation in Object Shapes and Colours. <a href="https://osf.io/rbg7m">OSF Pre-registry</a></li>
    <li>Bhat, A. A., Spencer, J. P., & Samuelson, L. K. Stimulus Exposure Times and Looking Behaviours. <a href="https://osf.io/htd7p">OSF Pre-registry</a></li>
    </ul>

    <h2>2019</h2>
    <ul>
    <li>Mohan V., Bhat A. A., Morasso P. Muscle-less Motor Synergies. Physics of Life Reviews. <a href="https://doi.org/10.1016/j.plrev.2018.04.005">DOI</a></li>
    <li>Mohan V., Morasso P., Bhat A. A. Complementarity of Motor Synergies. Physics of Life Reviews. <a href="https://doi.org/10.1016/j.plrev.2019.11.001">DOI</a></li>
    </ul>

    <h2>2018</h2>
    <ul>
    <li>Bhat A. A., Mohan V. Goal Directed Reasoning in Robots. Cognitive Computation. <a href="https://doi.org/10.1007/s12559-018-9553-1">DOI</a></li>
    <li>Mohan V., & Bhat A. A. Joint Goal Human-Robot Collaboration. BICA 2017, Procedia Computer Science. <a href="https://doi.org/10.1016/j.procs.2018.01.089">DOI</a></li>
    <li>Bhat A. A., Spencer J. P., Samuelson L. K. Dynamic Neural Field Model. CogSci 2018. <a href="http://mindmodeling.org/cogsci2018/papers/0048/index.html">Full Paper</a></li>
    </ul>

    <h2>2016</h2>
    <ul>
    <li>Bhat A. A., Mohan V., Akkaladevi S. C., et al. Neural Body Schema for Robots. Autonomous Robots. <a href="http://link.springer.com/article/10.1007/s10514-016-9563-3">Link</a></li>
    <li>Bhat A. A., Mohan V., Sandini G., Morasso P. Humanoid Robot Infers Archimedes’ Principle. Journal of the Royal Society Interface. <a href="http://rsif.royalsocietypublishing.org/content/13/120/20160310">Link</a></li>
    </ul>

    <h2>2015</h2>
    <ul>
    <li>Bhat A. A., Mohan V. Tool Use Imitation in iCub. In Biomimetic and Biohybrid Systems. <a href="http://dx.doi.org/10.1007/978-3-319-22979-9_33">DOI</a></li>
    </ul>

    <h2>2014</h2>
    <ul>
    <li>Bhat A. A., Mohan V., Rea F., et al. Episodic Memory for Developmental Robots. ICDL-EPIROB 2014. <a href="https://ieeexplore.ieee.org/document/6983007">IEEE</a></li>
    <li>Mohan V., Bhat A. A., Morasso P., Sandini G. Learning Causally Dominant Properties. BICA. <a href="http://dx.doi.org/10.1016/j.bica.2014.11.006">DOI</a></li>
    </ul>

    <h2>2012</h2>
    <ul>
    <li>Bhat A. A., Mehta A. Dynamics of Competitive Learning. Physical Review E. <a href="http://dx.doi.org/10.1103/PhysRevE.85.011134">DOI</a></li>
    </ul>

    <h2>2011</h2>
    <ul>
    <li>Bhat A. A., Mahajan G., Mehta A. Network of Competing Synapses. PLoS ONE. <a href="http://dx.doi.org/10.1371/journal.pone.0025048">DOI</a></li>
    </ul>
    <h1>List of Upcoming Works:</h1>
    <hr>
    <h2>2025</h2>
    <ul>
    <li>Bhat A. A. <strong>Dynamic Population Sizing in Metaheuristic Optimization</strong>. Under preparation for IEEE Transactions on Evolutionary Computation.</li>
    <li>Bhat A. A. & Gul H. <strong>k-Connected GNNs: Leveraging High-Degree Neighbours and Heterogeneity for Knowledge Graph Completion</strong>. Prepared for ICLR 2026.</li>
    <li>Sarih A., Hong O. & Bhat A. A. <strong>An Assessment of the Learning Capacities of Growing Neural Networks under Gradient Optimization</strong>. In preparation for AAAI 2026, Singapore.</li>
    <li>Gul H. & Bhat A. A. <strong>Cumulative Spectral Gradient as a Complexity Measure in Knowledge Graph Completion</strong>. Prepared for AAAI 2026, Singapore.</li>
    <li>Gul H. & Bhat A. A. <strong>EDAS Metric for Knowledge Graph Completion Model Ranking</strong>. Submitted to the 17th Asian Conference on Machine Learning (ACML 2025).</li>
    <li>Bhat A. A., Spencer J. P., & Samuelson L. K. <strong>Effect of Metric Variation in Object Shapes and Colours on Cross-Situational Word Learning in Adults</strong>. In preparation for Cognitive Science.</li>
    <li>Bhat A. A. & Mohan V. <strong>Creative Problem-Solving in Robots using Constructive Episodic Simulations</strong>. Under review for IEEE International Conference on Robot and Human Interactive Communication.</li>
    <li>Bhat A. A. & Mohan V. <strong>Bending it Like Betty: From Memory to Creativity in Cognitive Robotics</strong>. Under preparation for Science Robotics.</li>
    <li>Mohan V. & Bhat A. A. <strong>Why Human Tools, Scripts and Skills Are the Way They Are? Insights from Teaching Motor Skills to Humanoid Robots</strong>. Under review for IEEE Transactions on Cognitive and Developmental Systems (TCDS).</li>
    </ul>


    <h1>List of Conference Abstracts, Workshops & Invited Talks:</h1>
    <hr>

    <h2>2024</h2>
    <ul>
    <li>Samuelson, L.K., Bhat, A.A., & Spencer, J.P. <strong>To Look or Not to Look: Insights and Predictions from a Process Model of Word-Object Interactions</strong>. XXIV International Congress of Infant Studies (ICIS 2024), Vienna.</li>
    <li>Samuelson, L.K., Bhat, A.A., & Spencer, J.P. <strong>Words in Time: How Timing of Words, Objects, and Response Requests Influences Word Learning</strong>. International Convention on Psychological Science, Brussels.</li>
    </ul>

    <h2>2023</h2>
    <ul>
    <li>Bhat A. A. <strong>Cognitive Systems Approach to Intelligent Robotics</strong>. ICRIET - 2K23 [Invited Keynote Talk].</li>
    <li>Samuelson, L.K., Bhat, A.A., & Spencer, J.P. <strong>Words in Time</strong>. Symposium Talk, ICPS Brussels.</li>
    </ul>

    <h2>2022</h2>
    <ul>
    <li>Samuelson, L.K., Bhat, A.A., & Spencer, J.P. <strong>WOLVES: A Neural Process Account of Visual Exploration and Word Learning</strong>. ICIS 2022, Ottawa.</li>
    </ul>

    <h2>2021</h2>
    <ul>
    <li>Bhat, A. A., Spencer, J.P., & Samuelson, L.K. <strong>WOLVES: A Process Model of Cross-Situational Word Learning</strong>. SRCD 2021 [Talk].</li>
    </ul>

    <h2>2020</h2>
    <ul>
    <li>Bhat, A. A., Spencer, J.P., & Samuelson, L.K. <strong>Developmental Changes in Word Learning Behaviour</strong>. LCICD 2020, Lancaster UK [Talk].</li>
    </ul>

    <h2>2019</h2>
    <ul>
    <li>Samuelson, L.K., Spencer, J.P., Colosimo, L., & Bhat, A.A. <strong>Developmental Changes in Word Learning</strong>. SRCD 2019, Baltimore USA [Poster].</li>
    </ul>

    <h2>2018</h2>
    <ul>
    <li>Bhat, A. A. <strong>Thirsty Crows, Cognitive Robots and Attentive Babies</strong>. ICDL-EpiRob 2018, Tokyo [Invited Talk].</li>
    <li>Bhat, A. A., Spencer, J.P., & Samuelson, L.K. <strong>Lexical Vacuum Cleaners</strong>. BPS East of England Conference, UEA Norwich [Talk].</li>
    <li>Buss, A.T., Perone, S., & Bhat, A.A. <strong>Dynamic Field Theory Foundations</strong>. CogSci 2018, Madison [Workshop].</li>
    <li>Bhat, A. A. <strong>Dynamic Field Theory for Higher Cognition</strong>. CogSci 2018, Madison [Invited Tutorial Talk].</li>
    <li>Bhat, A. A., Spencer, J.P., & Samuelson, L.K. <strong>Language Acquisition and Visual Dynamics</strong>. BICA 2018, Prague [Talk].</li>
    <li>Bhat, A. A. <strong>Early Word Learning</strong>. DFT Bootcamp, EFT 2018, Norwich UK [Invited Talk].</li>
    <li>Bhat, A. A. <strong>Multiscale Dynamics of Looking and Learning</strong>. ETF 2018, Norwich UK [Invited Talk].</li>
    </ul>

    <h2>2017</h2>
    <ul>
    <li>Spencer, J.P., Bhat, A.A., Colosimo, L., & Samuelson, L.K. <strong>WOLVES: A Dynamic Neural Field Model</strong>. SRCD 2017, Austin TX [Talk].</li>
    <li>Bhat, A.A., Spencer, J.P., & Samuelson, L.K. <strong>Novelty-Attention Interactions</strong>. Lorentz Center Workshop, Leiden [Poster].</li>
    <li>Bhat, A.A. <strong>Memory Clouds for Future Robots</strong>. Workshop on AI and Cloud Computing, Srinagar [Keynote Talk].</li>
    <li>Bhat, A.A., Colosimo, L., Spencer, J.P., & Samuelson, L.K. <strong>Novelty in Early Word Learning</strong>. UEA Conference on Novelty & the Brain, Norwich UK [Poster].</li>
    </ul>

    <h2>2015</h2>
    <ul>
    <li>Bhat, A.A., Mohan, V. <strong>Tool Use Imitation in iCub</strong>. Living Machines 2015, Barcelona [Poster].</li>
    </ul>

    <h2>2012</h2>
    <ul>
    <li>Bhat, A.A., Mehta, A. <strong>Dynamics of Competitive Learning</strong>. Bose Fest 2012, Kolkata [Talk].</li>
    </ul>

</div>

{% include footer.html %}