<footer class="lab-footer">
  <div class="footer-left">
    <h4>© SWSA Lab</h4>
  </div>
  <div class="footer-right">
    <a href="{{site.baseurl}}/contact-us" class="{% if page.url == '/contact-us/'%}remove{% endif %}">Contact us</a>
    <address>
      <p class="{% if page.url == '/contact-us/'%}remove{% endif %}">Department of Social Work and Administration</p>
      <p class="{% if page.url == '/contact-us/'%}remove{% endif %}">CJT-517, 5/F, The Jockey Club Tower, The Centennial Campus, The University of Hong Kong, Pokfulam, Hong Kong </p>
      <p class="{% if page.url == '/contact-us/'%}remove{% endif %}">Hong Kong</p>
    </address>
  </div>
</footer>
