<footer class="lab-footer">
  <div class="footer-left">
    <h4>© Dr. Ajaz Ahmad Bhat's Lab</h4>
  </div>
  <div class="footer-right">
    <a href="{{site.baseurl}}/contact-us" class="{% if page.url == '/contact-us/'%}remove{% endif %}">Contact us</a>
    <address>
      <p class="{% if page.url == '/contact-us/'%}remove{% endif %}">School of Digital Science</p>
      <p class="{% if page.url == '/contact-us/'%}remove{% endif %}">2nd Floor of Academy of Brunei Studies Building, Universiti Brunei Darussalam, Jalan Tungku Link, BE1410</p>
      <p class="{% if page.url == '/contact-us/'%}remove{% endif %}">Negara Brunei Darussalam</p>
    </address>
  </div>
</footer>
